@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Base  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #4c98fb;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4c98fb;
}


body,
input {
  scroll-behavior: smooth;
  user-zoom: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  font-family: "Poppins", sans-serif;
  -moz-user-select: none !important;
}

/* Base End  */

/* Preloader */

.intro {
  width: 100%;
  height: 100vh;
  background-color: #c8c8c8;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 88888;
}

.loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.box {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #4c98fb;
}

.box:nth-child(1) {
  animation: a1 2s infinite linear;
}

.box:nth-child(2) {
  animation: a2 2s infinite linear;
}


@keyframes a1 {
  0% {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }

  12.5% {
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
  }

  25% {
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
  }

  37.5% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }

  50% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }

  62.5% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }

  75% {
    top: 0;
    left: 30px;
    width: 30px;
    height: 60px;
  }

  87.5% {
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }

  100% {
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
}

@keyframes a2 {
  0% {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }

  12.5% {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
  }

  25% {
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
  }

  37.5% {
    right: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
  }

  50% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }

  62.5% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }

  75% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }

  87.5% {
    right: 30px;
    bottom: 0;
    width: 30px;
    height: 60px;
  }

  100% {
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }
}

/* Preloader End */

/* NavBar */

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #007bff;
}

.banner {
  height: 100vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}

.about .title {
  font-size: 35px;
  font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }

  .navbar .content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }

  .icon.cancel-btn {
    display: none;
  }

  .icon.cancel-btn.show {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 29px;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }

  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }

  .navbar .menu-list.active {
    clip-path: circle(75%);
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
  }
}


/* NavBar End */

/* Main  */


/* Main Form */

.container {
  /* background-image: linear-gradient(-45deg, #f7f7f7b3 0%, #76b1b6 100%); */
  /* background-image: linear-gradient(-45deg, #4481ebb3 0%, #978af6 100%); */
  /* background-image: radial-gradient(#ec5b5bb3 0%, #ed94f9 100%); */
  /* background-image: radial-gradient(#dcd8d8b3 0%, #aaaaaa 100%); */
  /* background-image: url('../assets/textures/3.png'),url('../assets/BG2.jpg'); */
  /* background-color: #aaaaaa7b; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-color: #eaeaea;
  background-image: url("../assets/textures/5.png"), linear-gradient(-45deg, #ffffff 0%, #aaaaaa 100%);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* LogIn- SignUp */

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

.button {
  flex-direction: row;
}

.buttons {
  flex-direction: row;
  margin-left: 50px;
}

/* LogIn- SignUp End */

/* Panels  */

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  /* background-image: linear-gradient(-45deg, #4481ebb3 0%, #4a39c5b4 100%); */
  background-image: radial-gradient(#ffffff 0%, #0d83eb 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 84%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 10rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 10rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn.transparent:hover {
  border-color: #fff;
  background-color: rgba(4, 112, 208, 0.666);
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* Panel End  */

/* Animation */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

/* Animation End */


/*              Viewport less then or equal to 870px            */

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .sign-up-form {
    margin-top: 8%;
  }

  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
    padding: 6rem 8%;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

/*      x       Viewport less then or equal to 870px    x     */


/*              Viewport less then or equal to 870px            */

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/*      x       Viewport less then or equal to 570px    x     */