@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
@import url('../css/fonts.css');

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f7f7f7;
    scroll-behavior: smooth;
    user-zoom: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    font-family: "Poppins", sans-serif;
    -moz-user-select: none !important;
    background-image: url('../assets/textures/4.png'), url('../assets/BG2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background-color: #4c98fb;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 50px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 50px;
    background-color: #4c98fb;
}

:root {

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #4c98fb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --primary-theme-color: #4c98fb;
    --bg-color2: #efefef;

    /* gradient color   */
    --sky: linear-gradient(120deg, #1a97d1 0%, #04b4ff 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.light {
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
}

/* ---------------- Global Classes ---------------*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Abel);
    font-weight: 100;
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
    font-weight: 200;
}

h3 {
    font-family: var(--Abel);
    font-weight: 200;
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 10px;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

.text-gray {
    color: var(--text-gray);
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- Navbar ----------------- */

/* NavbarEnd */

header {
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    font-family: var(--Abel);
    z-index: 100;
    /* background-image: linear-gradient(to right, #111, #555); */
    background: #f1f8fc;
    background-image: url('../assets/textures/4.png'), url('../assets/BG2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem auto 0;
    /* background-image: linear-gradient(to right, #4C98FB, #9bc7ff); */
    background: var(--primary-theme-color);
    background-image: url('../assets/white.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 80vw;
    height: 4.3rem;
    border-radius: 2rem;
    padding: 0.4rem 3rem;
    box-shadow: 5px 8px 10px #00000080;
    transition: 0.5s;
}

.navbar.fixed {
    width: 100%;
    position: fixed;
    top: -6.6%;
    border-radius: 0;
    padding: 0.4rem 5rem;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    width: 90px;
    height: 40px;
    font-weight: 900;
    color: var(--dark-two);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.4rem;
    margin-right: 0.4rem;
    transition: 1s;
}

.nav-left a:hover,
.nav-left a.active {
    color: var(--primary-theme-color);
    background: var(--bg-color2);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center {
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 0.3rem;
    border-radius: 50%;
    background: var(--bg-color2);
    left: 44.5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}

.nav-center.fixed {
    top: 1%;
    width: 75px;
    height: 75px;
    background: transparent;
}

.nav-center img {
    width: 100%;
}

.log-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.log-link {
    width: 120px;
    height: 40px;
    font-weight: 900;
    color: var(--dark-two);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.4rem;
    margin-right: 0.4rem;
    transition: 1s;
}

.log-link:hover {
    color: var(--primary-theme-color);
    background: var(--bg-color2);
}

/* NavbarEnd */

/* Navbar2 */

.navbar2 {
    display: none;
}

.navbar2 {
    position: fixed !important;
    width: 100%;
    font-family: var(--Abel);
    z-index: 200;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar2.sticky {
    /* background: #4c98fb; */
    background-image: url('../assets/white.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px 0;
    box-shadow: 5px 8px 10px #00000080;
}

.navbar2 .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar2 .logo a {
    color: var(--darkOne);
    /* color: #222; */
    font-size: 30px;
    font-weight: 600;
    margin-left: 5%;
    text-decoration: none;
}

.navbar2 .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
    background-color: #f1f8fc;
    border-radius: 50px;
}

@media (max-width: 970px) {

    .navbar {
        display: none;
    }

    .navbar2 {
        display: block;
        font-family: var(--Abel);
        position: fixed;
    }

    .icon {
        display: block;
        cursor: pointer;
    }

    .icon.hide {
        display: none;
    }

    .cancel-btn {
        color: var(--bg-color2);
        margin-right: -85%;
        font-size: 20px;
    }

    .menu-btn {
        /* color: #222; */
        margin-right: 3%;
        color: var(--darkOne);
        font-size: 20px;
    }

    .navbar2 .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: linear-gradient(to top, #111, #222);
        transition: all 0.3s ease;
    }

    .navbar2.show .menu-list {
        left: 0%;
    }

    .navbar2 .menu-list li {
        margin-top: 45px;
    }

    .navbar2 .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar2.show .menu-list li a {
        margin-left: 0px;
    }
}

/* Navbar2 End  */

/* -------x------- Navbar ---------x------- */


/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */

/* Showcase  */

.big-wrapper {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* background-image: linear-gradient(to right, #111, #555); */
    /* background-color: var(--backgroundColor); */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title h1 {
    /* color: var(--bg-color2); */
    color: var(--darkOne);
    font-family: var(--Lexend);
    text-transform: capitalize;
    line-height: 1.4;
}

.text {
    color: #555;
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
}

.shape {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: 199px;
    left: -10px;
    opacity: 0.3;
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    border: 1px solid #3498db !important;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1 {
    color: #3498db;
}

.btn2 {
    color: #fff;
}

.btn1:hover {
    color: #fff;
}

.btn2:hover {
    color: #3498db;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 120%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn2::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn2::before {
    height: 180%;
}

.btn1:hover::before {
    height: 180%;
}

.btn2:hover::before {
    height: 0%;
}

.btn2 span:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 2;
    left: 0;
    top: 0;
    animation: animate-btn 3s;
    animation-iteration-count: infinite;
}

.btn2 span:last-child:hover {
    background-color: #4c98fb;
}

@keyframes animate-btn {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    100% {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.control {
    position: absolute;
    display: contents;
}

.control #read {
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    z-index: 3;
    width: 72px;
    height: 72px;
    cursor: pointer;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.bounce {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #ff0000;
    transform-origin: 50% 50%;
    z-index: 2;
    animation: bounce 1s linear infinite;
}

.bounce.bt2 {
    border-color: #55ffc3;
    animation-delay: 0.2s;
}

.bounce.bt3 {
    border-color: #1900ff;
    animation-delay: 0.4s;
}

.bounce.bt4 {
    border-color: #00ccff;
    animation-delay: 0.6s;
}

.bounce.bt5 {
    border-color: #4e7dff;
    animation-delay: 0.8s;
}

.control #animation {
    display: none;
}

@keyframes bounce {
    0% {
        transform: scaleX(100%) scaleY(100%);
    }

    80% {
        transform: scaleX(180%) scaleY(25%);
        opacity: 1;
    }

    100% {
        transform: scaleX(200%) scaleY(100%);
        opacity: 0.05;
    }
}

/* Card  */

.card-container {
    margin: 0 auto;
    margin-top: 5em;
    width: 400px;
    text-align: right;
}

.card {
    width: 400px;
    height: 250px;
    text-align: left;
    margin-bottom: 10em;
}

.flip {
    width: inherit;
    height: inherit;
}

.front {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, #111, #555);
    overflow: hidden;
}

.front {
    transform: translateZ(0);
}

.strip-bottom,
.strip-top {
    position: absolute;
    right: 0;
    height: inherit;
    background-image: linear-gradient(to bottom, #67c7ff, #4580ff);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.strip-bottom {
    width: 200px;
    transform: skewX(-15deg) translateX(50px);
}

.strip-top {
    width: 180px;
    transform: skewX(20deg) translateX(50px);
}

.id {
    position: relative;
    top: 5%;
    left: 7%;
    text-transform: uppercase;
}

.card-center {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 17%;
    padding: 0.3rem;
    border-radius: 50%;
    background-image: url('../assets/icon.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 48%;
    left: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}

.card-center.fixed {
    width: 85px;
    height: 85px;
    background: transparent;
}

.card-center img {
    width: 100%;
}

.card-text {
    position: relative;
    display: flex;
    align-items: center;
    left: 50%;
    font-size: 50px;
    font-weight: 900;
    /* font-family: 'Ultra', serif; */
    font-family: 'Gochi Hand', cursive;
}

.end {
    margin-top: -5%;
    margin-left: 25px;
    text-transform: uppercase;
    font-family: 'cc font', monospace;
}

.end .end-text {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.8);
}

.card-holder {
    margin: 10px 25px;
    text-transform: uppercase;
    font-family: 'cc font', monospace;
}

@media screen and (max-width: 445px) {
    .card-container {
        width: 300px;
    }

    .card {
        width: 300px;
        height: 200px;
    }

    .strip-bottom {
        width: 200px;
    }

    .strip-top {
        width: 190px;
    }

    .id {
        top: 8%;
        left: 10%;
        font-size: 15px;
    }

    .card-center {
        position: absolute;
        width: 85px;
        height: 85px;
        top: 25%;
        left: 10%;
    }

    .card-center.fixed {
        width: 105px;
        height: 105px;
    }

    .card-text {
        left: 50%;
        font-size: 35px;
    }

    .end {
        margin-top: 3%;
        margin-left: 20px;
        font-size: 10px;
    }

    .end .end-text {
        font-size: 10px;
    }

    .end .end-date {
        font-size: 15px;
    }

    .card-holder {
        margin: 3px 25px;
        font-size: 15px;
    }

}

@media screen and (max-width: 330px) {
    .card-container {
        width: 200px;
    }

    .card {
        width: 200px;
        height: 125px;
    }

    .strip-bottom {
        width: 120px;
    }

    .strip-top {
        width: 100px;
    }

    .id {
        top: 5%;
        left: 7%;
        font-size: 10px;
    }

    .card-center {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 20%;
    }

    .card-center.fixed {
        width: 85px;
        height: 85px;
    }

    .card-text {
        left: 50%;
        font-size: 25px;
    }

    .end {
        margin-top: -5%;
        margin-left: 10px;
        font-size: 6px;
    }

    .end .end-text {
        font-size: 5px;
    }

    .end .end-date {
        font-size: 9px;
    }

    .card-holder {
        margin: 3px 25px;
        font-size: 9px;
    }

}

@media screen and (max-width: 280px) {

    .buttons {
        flex-direction: column;
    }

}

@media screen and (max-width: 230px) {

    .card-container {
        margin-left: -8%;
    }

}

/* Card End  */


/* .copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
  }
  
  @keyframes appear {
    0% {
      clip-path: circle(30% at -25% -25%);
    }
  
    100% {
      clip-path: circle(150% at 0 0);
    }
  } */


.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 500px;
    background-color: #00c8ff40;
    bottom: -160px;
    animation: square 25s infinite;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;

}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: #0040ff5d;
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: #26a8ff4e;
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: #0168915f;
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1500px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1500px) rotate(600deg);
    }
}


@media screen and (max-width: 870px) {

    .showcase-area {
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem;
    }

    .big-title {
        font-size: 0.8rem;
    }

    .text {
        font-size: 0.95rem;
        margin: 1.4rem 0 1.5rem;
    }

    .person {
        width: 100%;
        transform: none;
    }

    .logo h3 {
        font-size: 1.25rem;
    }

    .shape {
        bottom: 380px;
        left: -150px;
    }
}

@media screen and (max-width: 970px) {
    .showcase-area .container {
        margin-top: 10% !important;
    }
}

@media screen and (max-width: 470px) {
    .container {
        padding: 0 1.5rem;
    }

    .big-title h1 {
        font-size: 1.8rem;
    }

    .text {
        margin: 1.1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    .showcase-area .btn {
        font-size: 0.8rem;
    }
}

/* Showcase End  */

/* --------x------ Site title --------x------- */

/* --------------- Carousel ------------ */

/* main .blog {
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
} */

main .blog .blog-post {
    padding-top: 6rem;
}

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-post .blog-content img {
    height: 250px !important;
}

main .blog-content .blog-title {
    padding: 2rem 0;
}

main .blog-content .btn-blog {
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span {
    display: block;
}

section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    margin-left: 20px;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-nav .owl-prev .owl-nav-prev {
    animation: bounceTop-1 3s ease infinite;
}

@keyframes bounceTop-1 {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }
}

.owl-nav .owl-next .owl-nav-next {
    animation: bounceTop-2 3s ease infinite;
}

@keyframes bounceTop-2 {

    0%,
    100% {
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(0px);
    }
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}

/* -------x------- Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content {
    width: 100%;

}

main .site-content .post-content>.post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content>.post-image .post-info {
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content>.post-image>div {
    overflow: hidden;
}

main .site-content .post-content>.post-image .img {
    width: 100%;
    transition: all 1s ease;
}

/* main .site-content .post-content>.post-image .img:hover {
    transform: scale(1.3);
} */

main .site-content .post-content>.post-image .post-info span {
    margin: 0 .5rem;
}

main .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
    cursor: pointer;
}

.site-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    text-align: center;
    font-family: var(--Lexend);
}

.site-content .pagination .pages {
    background: var(--text-gray);
    color: var(--white);
}

/* -------x-------- Site Content --------x-------*/

/* --------------- Sidebar ----------------------- */

.site-content>.sidebar .category-list {
    font-family: var(--Livvic);
}

.site-content>.sidebar .category-list .list-items {
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content>.sidebar .category-list .list-items a {
    color: black;
}

.site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}

.site-content .sidebar .popular-tags {
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}

/* -------x------- Sidebar -----------x----------- */

/* ---------x------- Main Content -----x----- */


/* ----------------- Footer --------------------- */

footer.footer {
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2 {
    color: var(--white);
}

footer.footer .newsletter .form-element {
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span {
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i {
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a {
    color: var(--white);
}

.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #4c98fb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}

.goTop:hover {
    background: #ffffff;
    color: #4c98fb;
    transition: 0.5s;
}

/* 
footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    z-index: 30;
    color: #a6a6a6;
    cursor: pointer;
    transition: 0.5s;
}

footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

footer.footer .move-up span:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.15;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
} */

/* ---------x------- Footer ----------x---------- */

/* ---------------- Intro ---------------*/

.intro {
    background: #eff4ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro2 {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: var(--main-color);
}

@keyframes appear {
    0% {
        clip-path: circle(4% at 50% 48%);
        background-color: #0080FF;
    }

    100% {
        clip-path: circle(1500% at 0 0);
        background-color: #0080FF;
    }
}

.slider {
    background: var(--main-color);
    color: var(--main-color);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    z-index: 20;
    color: #efefef;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.hide {
    text-align: center;
    background: transparent;
    overflow: hidden;
    animation: img;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    /* animation-fill-mode: forwards; */
    /* animation-iteration-count: 1; */
}

@keyframes img {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
    border-radius: 500px;
    color: #efefef;
    padding: 20px 17px;
    /* background-color: var(--main-color); */
}

/* ---------x------- Intro ----------x---------- */


/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {

    .popular-post {
        display: none;
    }

    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 980px            */

@media only screen and (max-width: 980px) {

    main .site-title .logo {
        width: 150px;
        height: 200px;
    }

    .intro2 {
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -20;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: appear2;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: var(--main-color);
    }

    @keyframes appear2 {
        0% {
            clip-path: circle(8% at 50% 47%);
            background-color: #0080FF;
        }

        100% {
            clip-path: circle(1500% at 0 0);
            background-color: #0080FF;
        }
    }

}

/*        x      Viewport less then or equal to 980px       x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {

    .popular-post {
        display: none;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .post-title p {
        display: none;
    }

    .intro-text .hide span {
        font-size: 30px;
    }

    main .site-title .logo {
        width: 25%;
        height: 15%;
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {

    .popular-post {
        display: none;
    }

    main .blog {
        height: 125vh;
    }

    .site-content .post-content>.post-image .post-info {
        display: none;
    }

    .post-content .post-image .img {
        width: 380px !important;
        height: 280px !important;
    }

    footer.footer .container>div {
        padding: 1rem .9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }

}

/*        x      Viewport less then or equal to 520px       x     */


/*              Viewport less then or equal to 450px            */

@media only screen and (max-width: 450px) {

    .post-content .post-image .img {
        width: 280px !important;
        height: 180px !important;
    }

    .posts {
        margin-left: 15px;
    }

}

/*        x      Viewport less then or equal to 450px       x     */


/*              Viewport less then or equal to 370px            */

@media only screen and (max-width: 370px) {

    .post-content .post-image .img {
        width: 250px !important;
        height: 150px !important;
    }


    .posts {
        margin-left: -10px;
    }

}

/*        x      Viewport less then or equal to 370px       x     */


/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {

    main .site-title .logo {
        width: 100px;
        height: 150px;
    }

    .post-content .post-image .img {
        width: 220px !important;
        height: 120px !important;
    }

}

/*        x      Viewport less then or equal to 320px       x     */


/*              Viewport less then or equal to 280px            */

@media only screen and (max-width: 280px) {


    .posts {
        margin-left: -30px;
    }

}

/*        x      Viewport less then or equal to 280px       x     */